{% extends 'base.html' %}
{% load static %}


{% block main %}
<div class="hero-image">

    <div class="hero-text">
        <h1>Sınırsız film, dizi ve çok daha fazlası.</h1>
        <h4>İstediğiniz yerde izleyin. İstediğiniz zaman iptal edin.</h4>
        <p>İzlemeye hazır mısınız? Üyelik oluşturmak veya üyeliğinze erişmek için e-posta adresinizi girin</p>

        <button class="btn btn-secondary btn-lg mt-3">Oynat</button>
        <button class="btn btn-secondary btn-lg mt-3">Daha Fazla Bilgi</button>
    </div>

</div>
<div class="container">
    {% for i, movies in dinamik_yapi %}
    <div class="row mt-5">
        <h3 class="text-light">{{ i }}</h3>
        {% for movie in movies  %}            
        {% if movie.like == True %}
        <div class="col-md-2 col-4 mt-1 position-relative">
            <a>
                <img src="{{ movie.image.url }}" class="w-100" alt="">
                <div class="position-absolute" style="top: 5px; right: 20px;">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="listLike" value="{{ movie.id }}">
                        <button type="submit" name="submit" style="background: transparent; border: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                              </svg>
                        </button>
                    </form>
                </div>
            </a>
        </div>
        {% endif %}                 
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock main %}

    